---
title: Welcome to Middleman
---

<div class="welcome">
  <h2 class="editable">Middleman is Watching</h2>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
